/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)

  CSS Reset

*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}



/* End of CSS reset */



* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*:active {
  -webkit-tap-highlight-color: transparent;
}

body.no-scroll {
  overflow: hidden;
}

html {
  font-family: 'Lato', sans-serif;
}

main {
  margin: 1em;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
}

h1 {
  font-size: 2em;
  font-weight: 800;
  margin: 0.75em 0 0.5em;
}

h1.biaq {
  font-size: 3em;
  font-weight: 900;
  flex-basis: 100%;
  align-self: center;
  margin: 0;
}

li {
  margin: 0.6em;
}

b {
  font-weight: 900;
}

ul {
  list-style-type: circle;
  margin: 0.5em 1em 0;
}

ol {
  list-style-type: decimal;
  list-style-position: outside;
  margin: 0.5em 1em 0;
}

sub {
  font-size: 0.5em;
}

sup {
  font-size: 0.7em;
  vertical-align: top;
}

footer {
  background-color: lightgrey;
  margin-top: 4em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-items: stretch;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: black;
}

footer section:hover:not(.spacer) {
  text-shadow: 0 0 0.05em black;
  transition: all 0.2s ease-out;
  cursor: default;
}

footer section {
  transition: all 0.2s ease-out;
  margin: 2em;
}

footer section.spacer {
  border-bottom: 1px solid grey;
  align-self: stretch;
  margin: 1em 2em;
}

.footerLink {
  background-color: rgb(200, 200, 200);
  padding: 0.5em 3em;
  margin: 0.75em;
  color: black;
  border-radius: 0.5em;
  display: inline-block;
  transition: all 0.2s ease-out;
  font-weight: 600;
  letter-spacing: 0.05em;
}

.footerLink:hover {
  background-color: rgb(220, 220, 220);
  transition: all 0.2s ease-out;
}

.footerLink:active {
  background-color: rgb(230, 230, 230);
  transition: all 0.2s ease-out;
}

.name {
  font-weight: bold;
  font-size: 1.5em;
  margin: 0 0 0.25em;
  transition: text-shadow 2s ease-in-out;
}

.footerHeading {
  font-size: 1.3em;
  font-weight: 900;
  letter-spacing: 0.2em;
}

.footerSubject {
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin: 0.2em;
}

.sponsor {
  margin: 3em 1em;
  padding: 0.5em;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-basis: 100%;
  flex-direction: column;
  border: 1px solid lightgrey;
  border-radius: 0.5em;
  text-align: center;
  transition: all 0.1s ease-out;
}

.fund {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: start;
}

.fund h1 {
  flex-basis: 100%;
}

p.miniHeading {
  margin: 1em 0 0.5em 0;
  font-size: 1.3em;
  font-weight: 700;
}

main>p {
  margin: 0 0.2em 0;
}

i {
  font-style: italic;
}

.sponsor>img {
  margin: 1em;
  width: 60%;
  aspect-ratio: 1 / 1.5;
  border-radius: 1em;
  object-fit: cover;
  display: inline-block;
  border: none;
  box-shadow: 0 0 1em 0 grey;
  user-select: none;
  transition: all 0.2s ease-out;
}

.sponsor>img:hover {
  box-shadow: 0 0 1.5em 0em grey;
  transition: all 0.2s ease-out;
}

.sponsor>img:active {
  box-shadow: 0 0 1.5em 0.2em rgb(100, 100, 100);
  transition: all 0.2s ease-out;
}

.sponsor:hover {
  cursor: pointer;
  transition: all 0.1s ease-out;
  border: 1px solid darkgrey;
}

.button {
  padding: 1rem 2rem;
  border: 1px solid black;
  background-color: #00b4d8;
  margin: 0.5rem 1rem 1rem 0.5rem;
  transition: all 0.1s ease-out;
  display: inline-block;
  border-radius: 10em;
  font-size: 1.5em;
}

.button:hover {
  filter: brightness(105%);
  transition: all 0.1s ease-out;
}

.button:active {
  filter: brightness(95%);
  transition: all 0.1s ease-out;
}

.sponsor p {
  margin: auto;
}

.sponsor .info {
  margin: 1em 0.25em 0em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1;
}

.sponsor a {
  padding: 0.25em 1em;
  margin: 1em 0 0 0;
  display: inline-block;
  border-radius: 1em;
  border: 1px solid black;
  transition: all 0.2s ease-out;
}

.sponsor a sup {
  margin: 0.25em;
  display: inline-block;
}

.sponsor a:hover {
  background-color: rgba(211, 211, 211, 0.5);
  transition: all 0.2s ease-out;
}

.sponsor a:active {
  background-color: rgba(211, 211, 211, 0.75);
  transition: all 0.2s ease-out;
}

.sponsor.lennard {
  box-shadow: 0 0 1.5em 0.5em pink;
}

.sponsor.philipp {
  box-shadow: 0 0 1.5em 0.5em lightblue;
}

.sponsor.max>img,
.sponsor.philipp>img {
  box-shadow: 0 0 1em 0.2em goldenrod;
}

.sponsor.max>img:hover,
.sponsor.philipp>img:hover {
  box-shadow: 0 0 1.5em 0.2em goldenrod;
  transition: all 0.2s ease-out;
}

.sponsor.max>img:active,
.sponsor.philipp>img:active {
  box-shadow: 0 0 1.5em 0.2em rgb(190, 142, 18);
  transition: all 0.2s ease-out;
}

.sponsor.max.glow .name,
.sponsor.philipp.glow .name {
  text-shadow: 0 0 0.08em black;
  transition: text-shadow 2s ease-in-out;
}

.sponsor.max .name,
.sponsor.philipp .name {
  font-size: 1.7em;
  font-weight: 700;
}

.sponsor.max {
  box-shadow: 0 0 1.5em 0.5em darkseagreen;
}

.sponsor.constantin {
  box-shadow: 0 0 1.5em 0.5em salmon;
}

.sponsor.aaron {
  box-shadow: 0 0 1.5em 0.5em plum;
}

.cash {
  font-weight: 900;
  font-size: 1.5em;
  color: green;
  display: block;
  margin: 0 0 0.25em 0;
}

.github {
  background-color: black;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 1em 0.5em;
  border-radius: 1em;
  padding: 0.25em 0.5em;
  color: white;
  letter-spacing: 0.1em;
  transition: all 0.1s ease-out;
}

.github img {
  background-color: inherit;
  width: 12.5%;
  margin: 0.5em;
}

.github span {
  display: inline-block;
  font-size: 1.2em;
  transition: all 0.1s ease-out;
}

.github:hover {
  transform: translateY(-0.05em);
  box-shadow: 0 0.2em 0.2em grey;
  transition: all 0.1s ease-out;
  background-color: rgb(30, 30, 30);
}

.github:hover span {
  text-shadow: 0 0 0.1em white;
  transition: all 0.1s ease-out;
}

.github:active span {
  text-shadow: none;
  transition: all 0.1s ease-out;
}

.github:active {
  transform: translateY(0.05em);
  box-shadow: none;
  transition: all 0.1s ease-out;
  background-color: rgb(15, 15, 15);
}

.arrow {
  padding: 0.4em;
  max-width: 0.8em;
  margin: 0 auto 0.2em auto;
  border: solid grey;
  border-width: 0 0 3px 3px;
  transform: rotate(-45deg);
  transform-origin: 35% 65%;
  transition: transform 0.1s linear;
}

.arrow.up {
  transform: rotate(135deg);
  transition: transform 0.1s linear;
}

.ddWrapper {
  align-self: stretch;
  position: relative;
}

.ddHeader {
  border: 1px solid lightgrey;
  padding: 0.5em;
  border-radius: 0.2em;
  margin: 1em;
  transition: all 0.1s ease-out;
}

.ddHeader:hover {
  background-color: rgba(211, 211, 211, 0.2);
  transition: all 0.1s ease-out;
  cursor: pointer;
}

.ddHeader:active {
  background-color: rgba(211, 211, 211, 0.4);
  transition: all 0.1s ease-out;
}

.general .ddHeader {
  margin: 1em 0;
}

.ddContent {
  position: fixed;
  z-index: 5;
  margin: 0.5em;
  padding: 1em;
  top: 0em;
  left: 0;
  width: calc(100% - 1em);
  visibility: hidden;
  backdrop-filter: none;
  opacity: 0;
  border-radius: 0.5em;
  transition: all 0.2s ease-out;
  height: calc(100% - 1em);
  border: 1px solid darkgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0em 0.4em 0.5em 0em grey;
  overflow: auto;
  background-color: rgba(211, 211, 211, 0.97)
}

.x:after {
  position: fixed;
  content: "\274c";
  font-size: 1.2em;
  top: 0.5rem;
  right: 0.5rem;
  margin: 1rem;
  cursor: pointer;
}

.ddContent>img {
  margin: 1em 0 0.5em 0;
  width: 60%;
  border-radius: 0.5em;
  object-fit: cover;
  border: none;
  user-select: none;
  box-shadow: 0 0.1em 0.4em 0 grey;
}

.ddContent.show {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s ease-out;
}

h2 {
  font-weight: 800;
  font-size: 1.4em;
  margin: 0.5rem 1rem 1rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

h3 {
  font-weight: 700;
  margin: 0.5rem;
}

.infocard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infocard img {
  margin: 1em;
  width: 40%;
  border-radius: 0.5em;
  display: inline-block;
  border: none;
  user-select: none;
}

.infocard .heading {
  font-size: 1.2em;
  font-weight: 700;
  margin: 0.5em 0 1em 0;
}

.part {
  border-radius: 0.5em;
  border: 1px solid grey;
  width: 70%;
  margin: 0 0 1em 0;
  flex-basis: auto;
}

.download {
  display: inline-block;
  padding: 0.2em 0.4em;
  border-radius: 0.3em;
  border: 1px solid grey;
  transition: all 0.1s ease-out;
  margin-bottom: -0.2em;
}

.download:hover {
  background-color: rgba(211, 211, 211, 0.2);
  transition: all 0.1s ease-out;
}

.download:active {
  background-color: rgba(211, 211, 211, 0.4);
  transition: all 0.1s ease-out;
}

@media (min-width: 1000px) {
  .sponsor {
    flex-basis: 15%;
  }

  footer section.spacer {
    border-right: 1px solid grey;
    border-bottom: none;
  }

  footer {
    flex-direction: row;
    align-items: center;
  }

  .ddContent {
    position: absolute;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 220%;
    left: 50%;
    top: auto;
    margin: 0;
    height: auto;
    overflow: visible;
    transform: translateX(-50%) translateY(1em);
    background: none;
  }

  .ddContent>img {
    margin: 0 1em 0 0;
    width: 40%;
  }

  .ddContent.last {
    left: 0;
    transform: translateX(-50%) translateY(1em);
  }

  .ddContent.first {
    left: 100%;
    transform: translateX(-50%) translateY(1em);
  }

  .ddContent.show {
    transform: translateX(-50%) translateY(2em);
    background-color: white;
  }

  .infocard {
    flex: 1 0;
  }

  h2 {
    flex-basis: 100%;
  }

  .x:after {
    position: fixed;
    content: "";
    top: 0;
    right: 0;
    margin: 0;
  }

  code {
    margin: 0.7rem;
    display: inline-block;
    font-weight: bold;
    font-size: 1.3em;
  }

  .general.ddWrapper {
    width: 15%;
    position: static;
  }

  .general .ddContent {
    position: static;
    width: 240%;
    margin: 0;
    padding: 0;
    max-height: 0;
    left: 0;
    transform: none;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease-out;
  }

  .general .ddContent.show {
    opacity: 1;
    margin: 1em 0;
    max-height: 200px;
    padding: 1em;
    transition: all 0.3s ease-out;
  }
}